services:
  # ======================
  # APACHE KAFKA (KRaft Mode)
  # ======================
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  # ======================
  # POSTGRESQL
  # ======================
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # ======================
  # APACHE SPARK (MASTER)
  # ======================
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master"]
    ports:
      - "7077:7077"
      - "8080:8080"
    volumes:
      - C:/Users/Public/pipelining:/opt/spark-apps
      - C:/Users/Public/pipelining/datalake:/opt/datalake
      - C:/Users/Public/pipelining/.ivy2:/home/spark/.ivy2

  # ======================
  # APACHE SPARK (WORKER)
  # ======================
  spark-worker:
    image: apache/spark:3.5.1
    container_name: spark-worker
    depends_on:
      - spark-master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]

  # ======================
  # APACHE SUPERSET
  # ======================
  superset:
    image: apache/superset:latest
    container_name: superset
    depends_on:
      - postgres
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: "this_is_a_secret"
    volumes:
      - superset_home:/app/superset_home
    extra_hosts:
      - "host.docker.internal:host-gateway"


  redis:
    image: redis:7

  redash:
    image: redash/redash:latest
    depends_on:
      - postgres
      - redis
    environment:
      REDASH_DATABASE_URL: postgres://redash:redash@postgres:5432/redash
      REDASH_REDIS_URL: redis://redis:6379/0
    ports:
      - "5000:5000"
    command: server

  worker:
    image: redash/redash:latest
    depends_on:
      - postgres
      - redis
    environment:
      REDASH_DATABASE_URL: postgres://redash:redash@postgres:5432/redash
      REDASH_REDIS_URL: redis://redis:6379/0
    command: scheduler

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: ecommerce
      MB_DB_PORT: 5432
      MB_DB_USER: admin
      MB_DB_PASS: admin
      MB_DB_HOST: postgres
    depends_on:
      - postgres

volumes:
  redash_pg:
  postgres_data:
  superset_home: